From: dsi@{{ mail_domain }}
To: all-staff@{{ mail_domain }}
Subject: [INFO DSI] Compte d'urgence acces serveurs
Date: Mon, 10 Sep 2024 09:14:22 +0200

Bonjour a tous,

En cas d'indisponibilite du support, vous pouvez utiliser le compte
d'administration "de secours" partage avec l'equipe :

  login   : dsi
  mdp     : admin2024
  serveurs: uc-srv-moodle, uc-web-rh, uc-srv-mail, uc-calc-recherche,
            uc-srv-ldap, uc-db-rh (SSH 22)

Ce compte dispose de sudo sans mot de passe sur toutes les VMs.
Merci de ne pas le diffuser hors de l'etablissement.

Cordialement,
Service DSI - UniCampus+
