# {{ ansible_managed }}
# Signature DKIM des mails sortants (§3.6). Socket inet locale consommée par
# Postfix (smtpd_milters = inet:127.0.0.1:8891).
Syslog                  yes
UMask                   007
Mode                    sv
# opendkim descend vers l'utilisateur 'opendkim' (propriétaire de /etc/opendkim
# et des clés). Sans ça il reste root (uid 0) et RequireSafeKeys refuse de
# démarrer car le dossier des clés est détenu par un autre uid (erreur 78).
UserID                  opendkim
Socket                  inet:8891@127.0.0.1
PidFile                 /run/opendkim/opendkim.pid
OversignHeaders         From
Canonicalization        relaxed/simple
Domain                  {{ mail_domain }}
Selector                {{ mail_dkim_selector }}
KeyFile                 /etc/opendkim/keys/{{ mail_domain }}/{{ mail_dkim_selector }}.private
