# {{ ansible_managed }}
# Peuplement de l'annuaire (cf. §6.1). userPassword en CLAIR (vuln volontaire).
dn: ou=people,{{ ldap_base_dn }}
objectClass: organizationalUnit
ou: people

dn: ou=groups,{{ ldap_base_dn }}
objectClass: organizationalUnit
ou: groups

dn: uid=lmartin,ou=people,{{ ldap_base_dn }}
objectClass: inetOrgPerson
objectClass: posixAccount
uid: lmartin
cn: Lea Martin
sn: Martin
givenName: Lea
uidNumber: 10001
gidNumber: 10001
homeDirectory: /home/lmartin
loginShell: /bin/bash
mail: lea.martin@{{ ldap_domain }}
userPassword: unicampus2024

dn: uid=jdupont,ou=people,{{ ldap_base_dn }}
objectClass: inetOrgPerson
objectClass: posixAccount
uid: jdupont
cn: Jean-Pierre Dupont
sn: Dupont
givenName: Jean-Pierre
uidNumber: 10002
gidNumber: 10002
homeDirectory: /home/jdupont
loginShell: /bin/bash
mail: j.dupont@{{ ldap_domain }}
userPassword: unicampus2024

dn: cn=etudiants,ou=groups,{{ ldap_base_dn }}
objectClass: posixGroup
cn: etudiants
gidNumber: 20001
memberUid: lmartin

dn: cn=enseignants,ou=groups,{{ ldap_base_dn }}
objectClass: posixGroup
cn: enseignants
gidNumber: 20002
memberUid: jdupont
